<footer>
            <br/>
            CST336 Internet Programming. 2019 &copy; Dalia Faria.<br/>
            <strong>Disclaimer:</strong> The information in this webpage is credited to <a href="https://builtin.com/artificial-intelligence" style="color:#86d7f0">builtin.com</a>.<br/>
            It is used for academic purposes only.
            <br />
            <img src="img/csumb.png" alt="CSUMB Logo">
            <br/>[Background - Contour of AI Face]. Retrieved from <a href="https://sloanreview.mit.edu/article/the-risk-of-machine-learning-bias-and-how-to-prevent-it/" style="color:#86d7f0">sloanreview.mit.edu</a>.
        </footer>
    </body>
</html>