<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
        <title> Artificial Intelligence </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <header>
            <h1> Artificial Intelligence </h1>
            <h3>The process of Machine Learning</h3>
        </header>


        <section>
            <nav>
                <ul>
                    <li><span id="home"></span></li>
                    <li><span id="used"></span></li>
                    <li><span id="work"></span></li>
                    <li><span id="ai"></span></li>
                </ul>
            </nav>
            
            <article>
                <br/>
                <blockquote>
                    <%= randomQuote %>