<!DOCTYPE html>
<html lang="en">
<!--
HW 1, create 4 webpages revelant to computer science
Artificial Intelligence AI History page
History of AI
-->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
        <title> Artificial Intelligence </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <header>
            <h1> Artificial Intelligence </h1>
            <h3>The process of Machine Learning</h3>
        </header>

        <section>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="howitsused.html">How is AI used?</a></li>
                    <li><a href="howitworks.html">How does AI work?</a></li>
                    <li><a href="aihistory.html" style="color:#86d7f0">History of AI</a></li>
                </ul>
            </nav>
        
            <article>
                <br/>
                <blockquote cite="https://www.brainyquote.com/quotes/tim_cook_843468?src=t_ai">
                    What all of us have to do is to make sure we are using AI in a way that is for the benefit of humanity, not to the detriment of humanity.
                    <br/>~ Tim Cook
                </blockquote>
            </article>
        </section>
  
        <h2>The History of Artificial Intelligence</h2>
        <main>
            <div class="separate">
                <div id="imgfigure">
                    <img src="img/history.jpeg" alt="[Image of Artificial Intelligence World]. Retrieved from  https://disruptionhub.com/5-biggest-ai-developments-2017/" />
                </div>
            </div>
            
            <div class="separate">
                <div class="infoBox">
                    <h4>Artificial Intelligence Timeline</h4>
                    <p>The theory of AI first emerged among the studies of Greek philosophers in relation to deductive reasoning. There are timelines that reference AI back to the 1940's, but the timeline below only indicates the more recent decades. Please refer <a href="https://builtin.com/artificial-intelligence" style="color:navy">here</a> for a more comprehensive timeline.</p>
                    <ul>
                        <li>1991
                            - U.S. forces deploy DART, an automated logistics planning and scheduling tool, during the Gulf War.
                        </li>
                        <li>1997
                            - IBM's Deep Blue beats world chess champion Gary Kasparov
                        </li>
                        <li>2005
                            - TANLEY, a self-driving car, wins the DARPA Grand Challenge
                            - The U.S. military begins investing in autonomous robots like Boston Dynamic's "Big Dog" and iRobot's "PackBot
                        </li>
                        <li>2008
                            - Google makes breakthroughs in speech recognition and introduces the feature in its iPhone app
                        </li>
                        <li>2011
                            - IBM's Watson trounces the competition on Jeopardy!
                        </li>
                        <li>2012
                            - Andrew Ng, founder of the Google Brain Deep Learning project, feeds a neural network using deep learning algorithms 10 million YouTube videos as a training set. The neural network learned to recognize a cat without being told what a cat is, ushering in breakthrough era for neural networks and deep learning funding
                        </li>
                        <li>2012
                            - Google makes first self-driving car to pass a state driving test
                        </li>
                        <li>2016
                            - Google DeepMind's AlphaGo defeats world champion Go player Lee Sedol. The complexity of the ancient Chinese game was seen as a major hurdle to clear in AI
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        
        <footer>
            <br/>
            CST336 Internet Programming. 2019 &copy; Dalia Faria.<br/>
            <strong>Disclaimer:</strong> The information in this webpage is credited to <a href="https://builtin.com/artificial-intelligence" style="color:#86d7f0">builtin.com</a>.<br />
            It is used for academic purposes only.
            <br />
            <img src="img/csumb.png" alt="CSUMB Logo">
            <br/>[Background - Contour of AI Face]. Retrieved from <a href="https://sloanreview.mit.edu/article/the-risk-of-machine-learning-bias-and-how-to-prevent-it/" style="color:#86d7f0">sloanreview.mit.edu</a>.
        </footer>
    </body>
</html>