<% include partials/header.ejs %>
<script>
    document.getElementById("home").innerHTML = "<a href='/index'>Home</a>";
    document.getElementById("used").innerHTML = "<a href='/howitsused'>How is AI used?</a>";
    document.getElementById("work").innerHTML = "<a href='/howitworks' style='color:#86d7f0'>How does AI work?</a>";
    document.getElementById("ai").innerHTML = "<a href='/aihistory'>History of AI</a>";
</script>
                    <br />~ Dan Brown
                </blockquote>
            </article>
        </section>
  
        <h2>How does Artificial Intelligence work?</h2>
        <main>
            <div class="separate">
                <div id="imgfigure">
                    <img src="img/works.png" alt="[Image of Artificial Intelligence Head]. Retrieved from https://public.wmo.int/en/media/news/artificial-intelligence-good" />
                </div>
            </div>
            
            <div class="separate">
                <div class="infoBox">
                    <h4>Thinking and Acting Humanly & Rationally</h4>
                    <p>In 1950, mathematician Alan Turing posed the question, "Can Machines think?" Interested in the human thought-process, Turing inspired the fundamentals of AI. The primary goal of AI is to "simulate human intelligence in machines" by mimicking laws of rational reasoning and human behavior. </p>
                </div>
            </div>
        </main>
        
<% include partials/footer.ejs %>