<%- include('partials/header.ejs') -%>
<script>
    document.getElementById("home").innerHTML = "<a href='/index'>Home</a>";
    document.getElementById("used").innerHTML = "<a href='/howitsused' style='color:#86d7f0'>How is AI used?</a>";
    document.getElementById("work").innerHTML = "<a href='/howitworks'>How does AI work?</a>";
    document.getElementById("ai").innerHTML = "<a href='/aihistory'>History of AI</a>";
</script>
                    <br/>~ Oren Etzioni
                </blockquote>
            </article>
        </section>
  
        <h2>How is Artificial Intelligence used?</h2>
        <main>
            <div class="separate">
                <div id="imgfigure">
                    <img src="img/used.jpg" alt="[Image of Artificial Intelligence Device]. Retrieved from https://www.udemy.com/course/artificial-intelligence-full-course-with-deep-learning/" />
                </div>
            </div>
            
            <div class="separate">
                <div class="infoBox">
                    <h4>Narrow AI and Artificial General Intelligence</h4>
                    <p>AI can be broadly understood as two categories: Narrow AI and Artificial General Intelligence.</p>
                    <p>Narrow AI, or weak AI, is great at performing simple tasks while operating under strict constraints and limitations. Examples of Narrow AI are Google searches, personal assistance devices like Siri or Alexa, and image recognition software.</p>
                    <p>Artificial General Intelligence (AGI) is the sought after deep-learning that involves human-level intelligence. This practice of AI is the essential goal for many AI researchers. Advancements in AGI are still heavily underway.</p>
                </div>
            </div>
        </main>
        
<%- include('partials/footer.ejs') -%>