<!DOCTYPE html>
<html lang="en">
<!--
HW 1, create 4 webpages revelant to computer science
Artificial Intelligence Home page
What is AI?
-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
        <title> Artificial Intelligence </title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body>
        <header>
            <h1> Artificial Intelligence </h1>
            <h3>The process of Machine Learning</h3>
        </header>

        <section>
            <nav>
                <ul>
                    <li><a href="index.html" style="color:#86d7f0">Home</a></li>
                    <li><a href="howitsused.html">How is AI used?</a></li>
                    <li><a href="howitworks.html">How does AI work?</a></li>
                    <li><a href="aihistory.html">History of AI</a></li>
                </ul>
            </nav>
        
            <article>
                <br/>
                <blockquote cite="https://www.brainyquote.com/quotes/stephen_hawking_627109?src=t_ai">
                    Success in creating AI would be the biggest event in human history. Unfortunately, it might also be the last, unless we learn how to avoid the risks.
                    <br />~ Stephen Hawking
                </blockquote>
            </article>
        </section>
  
        <h2>What is Artificial Intelligence?</h2>
        <main>
            <div class="separate">
                <div id ="imgfigure">
                    <img src="img/ai.jpg" alt="[Image of Artificial Intelligence logo]. Retrieved from https://threatpost.com/security-and-artificial-intelligence-hype-vs-reality/136837/" />
                </div>
            </div>
           
           <div class="separate">
                <div class="infoBox">
                    <h4>Machine Learning</h4>
                    <p>In short, Artificial Intelligence is the concept of machine learning. In computer science, AI focuses on creating "smart machines" that can perform human-cognitive tasks. Ai is just one discipline of computer science that continues to expand as the field progresses into new discoveries.</p>
                    <p>AI is the search for a universal machine algorithm for learning and behaving at a human-level of intelligence.</p>
                </div>
            </div>
        </main>
        
        <footer>
            <br/>
            CST336 Internet Programming. 2019 &copy; Dalia Faria.<br/>
            <strong>Disclaimer:</strong> The information in this webpage is credited to <a href="https://builtin.com/artificial-intelligence" style="color:#86d7f0">builtin.com</a>.<br/>
            It is used for academic purposes only.
            <br />
            <img src="img/csumb.png" alt="CSUMB Logo">
            <br/>[Background - Contour of AI Face]. Retrieved from <a href="https://sloanreview.mit.edu/article/the-risk-of-machine-learning-bias-and-how-to-prevent-it/" style="color:#86d7f0">sloanreview.mit.edu</a>.
        </footer>
    </body>
</html>