<% include partials/header.ejs %>
<script>
    document.getElementById("home").innerHTML = "<a href='/index' style='color:#86d7f0'>Home</a>";
    document.getElementById("used").innerHTML = "<a href='/howitsused'>How is AI used?</a>";
    document.getElementById("work").innerHTML = "<a href='/howitworks'>How does AI work?</a>";
    document.getElementById("ai").innerHTML = "<a href='/aihistory'>History of AI</a>";
</script>
                    <br />~ Stephen Hawking
                </blockquote>
            </article>
        </section>
  
        <h2>What is Artificial Intelligence?</h2>
        <main>
            <div class="separate">
                <div id ="imgfigure">
                    <img src="img/ai.jpg" alt="[Image of Artificial Intelligence logo]. Retrieved from https://threatpost.com/security-and-artificial-intelligence-hype-vs-reality/136837/" />
                </div>
            </div>
           
           <div class="separate">
                <div class="infoBox">
                    <h4>Machine Learning</h4>
                    <p>In short, Artificial Intelligence is the concept of machine learning. In computer science, AI focuses on creating "smart machines" that can perform human-cognitive tasks. Ai is just one discipline of computer science that continues to expand as the field progresses into new discoveries.</p>
                    <p>AI is the search for a universal machine algorithm for learning and behaving at a human-level of intelligence.</p>
                </div>
            </div>
        </main>
        
 <% include partials/footer.ejs %>       